# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Static folders
# =========================
images/
uploads/
pdf/
notepad/
invoices/

# Ignore all PDF files anywhere
*.pdf

# =========================
# Backup files
# =========================
backups/
*.bak
*.backup

# =========================
# Build output
# =========================
dist/
build/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE settings
# =========================
.vscode/
.idea/